.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: sans-serif;
}

.input-list {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}